/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-img: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --bg-color:#000028;
  --button-hover: rgba(255, 0, 112, 0.4);
  --link: #F1B2CE;
  --color-theme: #000028;
  --text-color: #F1B2CE;
  --header_color: #DB00FF;
  --decor-color: #FF0070;
}

.theme-dark .header__rec {
  display: flex;
}
