/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-img: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --bg-color: #fff;
  --button-hover: rgba(50, 49, 45, 0.4);
  --link: #353430;
  --color-theme: #353430;
  --text-color: #353430;
  --decor-color: #353430;
  --header_color: #FFC2E6;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-img: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --bg-color: #fff;
  --button-hover: rgba(50, 49, 45, 0.4);
  --link: #353430;
  --color-theme: #353430;
  --text-color: #353430;
  --decor-color: #353430;
  --header_color: #FFC2E6;
  }

  .header__rec {
    display: none;
  }
}

.theme-light .page {
  
}
