:root {
  --bg-img: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --bg-color:#000028;
  --button-hover: rgba(255, 0, 112, 0.4);
  --link: #F1B2CE;
  --color-theme: #000028;
  --text-color: #F1B2CE;
  --header_color: #DB00FF;
  --decor-color: #FF0070;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
